        body {
            margin: 0;
            padding: 0;
            background-image: url(mapa.png);
            background-size: cover;
            font-family: "Courier New", monospace;
        }

        .Cadastro{
            width: 320px;
            height: 470px;
            border: 2px solid #000;
            border-radius: 80px 0px 80px 0px;
            color: #fff;
            background-color: rgba(0,0,5,0.8);
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 68px 28px;
        }

        .usuario{
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: 112px;
        }

        h1{
            margin: 0;
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 0px;
            letter-spacing: 0px;
            text-transform: uppercase;
            text-align: center;
            font-size: 25px;
        }

        .Cadastro button{
            margin: 0;
            padding: 0;
            font-weight: bold;
        }

        .Cadastro button{
            width: 100%;
            margin-bottom: 21px;
        }



        .Cadastro button{
            border: none;
            outline: none;
            height: 35px;
            color: #000;
            background: #fff;
            border-radius: 20px;
            transition: 0.2s;
        }

        .Cadastro a{
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: #4b4b4b;
            transition: 0.2s;
        }

        .Cadastro button:hover{
            cursor: pointer;
            background: #ff4d4d;
            transition: 0.2s;
        }